body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-padding {
  padding: 0 !important;
  max-width: none !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

:root {
  /* --main-color: #0035FF;
  --second-color: #00B5FF; */
  --main-color: #3F00FF;
  --second-color: #6533FF;
  --third-color: #00FFCA;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #2c3336;
}